@model Bachelorprosjekt.Models.ProsjektDescription

@{
    ViewData["Title"] = "Edit";
    
}

<h1>Rediger Prosjektbeskrivelse</h1>

<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFiks">
            <div class="form-group">
                <input type="submit" value="Lagre" name="submit" id="Lagre" class="btn bg-green-009382 text-white" /> <input type="submit" value="Last ned pdf" name="submit" id="Sjekk" class="btn bg-blue-008AAF text-white" /> <a class="btn text-white bg-orange-EB6851 " asp-action="ProsjektVenterFiks">Tilbake til liste, uten å lagre</a>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group margin-top-15">
                <label  asp-for="Navn" class="control-label text-bold"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label  asp-for="Prosjektgiver" class="control-label text-bold"></label>
                <input asp-for="Prosjektgiver" class="form-control" />
                <span asp-validation-for="Prosjektgiver" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label  asp-for="Webadresse" class="control-label text-bold"></label>
                <input asp-for="Webadresse" class="form-control" />
                <span asp-validation-for="Webadresse" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label class="control-label text-bold">Kort intro om oppdragsgiver / arbeidsplass, hvis aktuelt også for gruppe med ansvar for prosjekt:</label>
                <textarea asp-for="IntroOppdragsgiver" rows="3" cols="100"></textarea>
                <span asp-validation-for="IntroOppdragsgiver" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label class="control-label text-bold">Kort beskrivelse av bakgrunn for prosjektet og hva prosjektet skal løse:</label>
                <textarea asp-for="BagrunnProsjekt" rows="3" cols="100"></textarea>
                <span asp-validation-for="BagrunnProsjekt" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label  class="control-label text-bold">Eventuelt, teknologier / metoder som er tenkt brukt i prosjektet.</label>
                <textarea asp-for="TeknologiMetoder" rows="3" cols="100"></textarea>
                <span asp-validation-for="TeknologiMetoder" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label  class="control-label text-bold">Beskrivelse av arbeidsoppgaver for studentene:</label>
               <textarea asp-for="Arbeidsoppgaver" rows="3" cols="100"></textarea>

                <span asp-validation-for="Arbeidsoppgaver" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-15">
                <label  class="control-label text-bold">Annet(arbeidsplass, arbeidsspråk, hvorfor skal studenten velge dette prosjektet?):</label>
                <textarea asp-for="Annet" rows="3" cols="100"></textarea>
                <span asp-validation-for="Annet" class="text-danger"></span>
            </div>
           
            <div class="form-group margin-top-15">
                <input type="submit" value="Lagre" name="submit" id="Lagre" class="btn bg-green-009382 text-white" /> <input type="submit" value="Last ned pdf" name="submit" id="Sjekk" class="btn bg-blue-008AAF text-white" /> <a class="btn text-white bg-orange-EB6851 " asp-action="ProsjektVenterFiks">Tilbake til liste, uten å lagre</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
