@{
    ViewData["Title"] = "Home Page";
    

    
}
<br />

@{
<h2 class="text-bold text-align-center">Prosjektforslag:</h2>
 <p><a class="nav-link bg-blue-008AAF text-center text-white rounded-link" href="Prosjektdescriptions/ProsjektKlarForGodkjenning">Vis prosjektforslag klare for godkjenning</a></p>
 <p><a class="nav-link bg-blue-008AAF text-center text-white rounded-link" href="Prosjektdescriptions/ProsjektVenterFiks">Vis prosjektforslag som venter på fiksing</a></p>
 <p><a class="nav-link bg-blue-008AAF text-center text-white rounded-link" href="Prosjektdescriptions/OppgiValgteProsjekt">Kryss av valgte prosjekt</a></p>
 <br />
 <h2 class="text-bold text-align-center">Oppdragsgivere:</h2>
 <p><a class="nav-link bg-blue-008AAF text-center text-white rounded-link" href="Oppdragsgiver">Vis oversikt over oppdragsgivere</a></p>
 <br />
 <h2 class="text-bold text-align-center">Generer prosjektkatalog:</h2>
 <p><a class="nav-link bg-blue-008AAF text-center text-white rounded-link" href="Prosjektdescriptions/ProsjektkatalogAlleValgte">Generer prosjektkatalog over alle valgte prosjekt</a></p>
 <p><a class="nav-link bg-blue-008AAF text-center text-white rounded-link " href="Prosjektdescriptions/ProsjektkatalogAlleGodkjente">Generer prosjektkatalog over godkjente prosjekt</a></p>

}